<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css" >
    <title>Weather Application</title>
</head>
<body>
    <h1>明天天氣如何？</h1>

    <form action="/" method="POST">
        <input type="text" name="lat" placeholder="Latitude">
        <input type="text" name="lon" placeholder="Longitude">
        <input type="submit" value="ENTER">
    </form>


    <% if(locals.weather){ %>
        <h3>summary</h3>
        <p><%= weather %></p>
    <% } %>

    <% if(locals.rain){ %>
        <h3>rain height</h3>
        <p><%= rain %> mm/h</p>
    <% } %>
    
    <% if(locals.error){ %>
        <p>Failed to make request: <%= error %></p>
    <% } %>
    

<footer>

</footer>   
    
</body>

</html>